<div ng-controller="MovielistCtrl">
  <div class="search-box">
  	<input type="text" ng-model="query" class="search">
    <a class="tab-item">
      <span class="icon icon-search"></span>
    </a>
  </div>
  <div class="content movie-list">
    <ul class="table-view">
      <li class="table-view-cell media" ng-repeat="movie in moviesList | filter:query">
        <a class="navigate-right" ng-click="imageClick(movie.id)">
          <img class="media-object pull-left" ng-src="https://image.tmdb.org/t/p/w130/{{movie.poster_path}}" alt="movie.title">

          <div class="media-body">
            <h3 class="movie-title" ng-bind="movie.title"></h3>
            <p class="movie-description" ng-bind="movie.description | limitTo : 120"></p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
